<fieldset>
  <legend><%= l(:label_redmine_semantic_search_settings) %></legend>

  <div class="box tabular settings">
    <p>
      <label for="settings_enabled"><%= l(:label_redmine_semantic_search_enabled) %></label>
      <%= check_box_tag 'settings[enabled]', '1', settings['enabled'] == '1' %>
      <em class="info"><%= l(:text_redmine_semantic_search_enabled_info) %></em>
    </p>

    <p>
      <label><%= l(:label_redmine_semantic_search_openai_api_key) %></label>
      <em class="info"><%= l(:text_redmine_semantic_search_openai_api_key_info) %></em>
      <br>
      <code>OPENAI_API_KEY=<%= ENV['OPENAI_API_KEY'].present? ? "#{ENV['OPENAI_API_KEY'][0..5]}..." : l(:label_not_set) %></code>
      <br>
      <em class="info"><%= l(:text_env_variable_required) %></em>
    </p>

    <p>
      <label for="settings_base_url"><%= l(:label_redmine_semantic_search_base_url) %></label>
      <%= text_field_tag 'settings[base_url]', settings['base_url'] || 'https://api.openai.com/v1', size: 50 %>
      <em class="info"><%= l(:text_redmine_semantic_search_base_url_info) %></em>
    </p>

    <% basic_auth_username_set = ENV['OLLAMA_BASIC_AUTH_USERNAME'].present? %>
    <% basic_auth_password_set = ENV['OLLAMA_BASIC_AUTH_PASSWORD'].present? %>
    <p class="settings-info">
      <strong><%= l(:label_redmine_semantic_search_basic_auth) %></strong>
      <em class="info"><%= l(:text_redmine_semantic_search_basic_auth_info) %></em>
      <br>
      <code>OLLAMA_BASIC_AUTH_USERNAME=<%= basic_auth_username_set ? l(:label_set) : l(:label_not_set) %></code>
      <br>
      <code>OLLAMA_BASIC_AUTH_PASSWORD=<%= basic_auth_password_set ? l(:label_set) : l(:label_not_set) %></code>
    </p>
    <% if basic_auth_username_set ^ basic_auth_password_set %>
      <div class="flash warning"><%= l(:warning_redmine_semantic_search_basic_auth_incomplete) %></div>
    <% end %>

    <p>
      <label for="settings_embedding_model"><%= l(:label_redmine_semantic_search_embedding_model) %></label>
      <%= select_tag 'settings[embedding_model]',
                     options_for_select([
                       ['text-embedding-ada-002 (Default)', 'text-embedding-ada-002'],
                       ['nomic-embed-text:latest (Ollama)', 'nomic-embed-text:latest']
                     ], settings['embedding_model'] || 'text-embedding-ada-002') %>

      <em class="info"><%= l(:text_redmine_semantic_search_embedding_model_info) %></em>
    </p>

    <p>
      <label for="settings_search_limit"><%= l(:label_redmine_semantic_search_search_limit) %></label>
      <%= text_field_tag 'settings[search_limit]', settings['search_limit'] || 25, size: 5 %>
      <em class="info"><%= l(:text_redmine_semantic_search_search_limit_info) %></em>
    </p>
  </div>
</fieldset>
